@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/Swiper/dist/css/swiper.css";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "lib/base";

html {
	text-size-adjust: 100%;
	height: 100%;
	font-size: 16px;
	@include r(1800) {
		font-size: 14px;
	}
	@include r(1399) {
		font-size: 11px;
	}
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	height: 100%;
	min-width: 980px;
	background-color: $beige;
	overflow: hidden;
	&.show {
		.viewport {
			opacity: 1;
		}
		.loader {
			opacity: 0;
			transition-delay: 0s;
			span {
				opacity: 0;
			}
		}
		// &::after {
		// 	// width: 0;
		// 	transform: skew(-20deg) translate(-120%, 0)
		// }
		// &::before {
		// 	// width: 0;
		// 	transform: skew(-20deg) translate(120%, 0)
		// }
	}
	&.animation {
		.pjax.complete .rotator .rotator-news_single {
			opacity: 0;
			&::after{
				width: 100%;
			}
		}
	}
	.viewport {
		opacity: 1;
		transition: 0.7s ease;
	}
	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	width: 70%;
	// 	left: -19%;
	// 	top: 0;
	// 	bottom: 0;
	// 	background-color: $yellow;
	// 	z-index: 300;
	// 	transform: skew(-20deg);
	// 	transition: transform 0.3s ease;
	// 	will-change: transform;
	// }
	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	width: 70%;
	// 	right: -19%;
	// 	top: 0;
	// 	bottom: 0;
	// 	background-color: $yellow;
	// 	z-index: 300;
	// 	transform: skew(-20deg);
	// 	transition: transform 0.3s ease;
	// 	will-change: transform;
	// }
}
#svg {
	position: absolute;
	svg {
		position: absolute;
	}
}
.loader {
	text-align: center;
	margin: 0 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	z-index: 50;
	opacity: 1;
	transition: opacity 0.2s ease 0.1s;
	span {
		display: block;
		border-radius: 50%;
		border: 2px solid #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		&:first-child {
			width: 100%;
			height: 100%;
			border-color: #e77c13;
			border-left-color: transparent;
			top: 0;
			left: 0;
			animation: effect-1-1 2s infinite linear;
			opacity: 1;
			transition: 0.3s ease 0s;
		}

		&:nth-child(2) {
			width: 75%;
			height: 75%;
			border-color: #cb282a;
			border-right-color: transparent;
			top: 12.5%;
			left: 12.5%;
			animation: effect-1-2 2s infinite linear;
			opacity: 1;
			transition: 0.3s ease 0s;
		}

		&:last-child {
			width: 50%;
			height: 50%;
			border-color: #771d1a;
			border-bottom-color: transparent;
			top: 25%;
			left: 25%;
			animation: effect-1-1 2s infinite linear;
			opacity: 1;
			transition: 0.3s ease 0s;
		}
	}
}
* {
	margin: 0;
	outline: none;
}
*, *::after, *::before {
	box-sizing: border-box;
}
h1 {
	margin: 0;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
a {
	text-decoration: none;
}
.viewport {
	position: relative;
	height: 100%;
	min-height: 560px;
	min-width: 980px;
	&.logistics {
		.pjax {
			&::after {
				opacity: 1;
			}
		}
		.logo {
			&::after {
				opacity: 1;
			}
		}
		.language {
			.language-item, span {
				color: $white;
			}
		}
		.developers {
			.developers-inner {
				a  {
					color: $white;
				}
			}
		}
		.requisites {
			.requisites-inner p {
				color: $white;
			}
		}
		.pager__item {
			div {
				stroke: $white;
				fill: $white;
			}
		}
		.requisites {
			.requisites-inner {
				a {
					color: $orange;
				}
			}
		}
	}
}
.header, .footer {
	min-width: 980px;
}
.navigation {
	position: fixed;
	width: 50px;
	height: 50px;
	top: 40px;
	right: 20px;
	z-index: 152;
	opacity: 0;
	transition: opacity 1s linear;
	// background-color: $bordeaux;
	.navigation__trigger {
		width: 100%;
		height: 100%;
		padding: 15px 10px;
		cursor: pointer;
		position: relative;
		text-align: center;
		transform: translateZ(0);
		&::before {
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $bordeaux;
			position: absolute;
			transform: scale(1);
			transition: transform 0.3s ease;
			will-change: transform;
		}
		&:hover {
			&::after, &::before {
				transform: scale(1.05);
				// border-color: $bordeaux;
			}
		}
		div {
			display: block;
			position: relative;
			width: 30px;
			height: 22px;
		}
		span {
			height: 2px;
			width: 100%;
			display: block;
			background-color: $white;
			position: absolute;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 0.2s ease-in-out;
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 9px;
			}
			&:nth-child(3) {
				top: 18px;
			}
		}
		&.open {
			span {
				&:nth-child(1) {
					transform: rotate(135deg);
					top: 9px;
				}
				&:nth-child(2) {
					opacity: 0;
					left: -60px;
				}
				&:nth-child(3) {
					transform: rotate(-135deg);
					top: 9px;
				}
			}
		}
	}
}
.navigation-area {
	position: fixed;
	background-color: rgba(53,15,13,.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 151;
	.navigation-content {
		background-color: $beige;
		width: 0;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 110;
		transition: width 0.3s $bizer;
		overflow: hidden;
	}
	.navigation-layer {
		@include x-rem(width, 540px);
		position: absolute;
		left: 0;
		@include x-rem(bottom, 80px);
		@include x-rem(padding, 0 0 0 63px);
		.navigation-list {
			position: relative;
			z-index: 4;
			.navigation-items {
				font-family: $Baron;
				@include x-rem(font-size, 28px);
				text-transform: lowercase;
				color: $bordeaux;
				@include x-rem(letter-spacing, 10px);
				display: inline-block;
				width: 100%;
				span {
					display: inline-block;
					position: relative;
					@include x-rem(padding, 8px 0);
				}
				&:first-child, &:nth-child(4) {
					margin-bottom: 50px;
				}
				span {
					&::after {
						content: '';
						height: 14px;
						left: -4px;
						bottom: 7px;
						width: 0;
						background-color: $yellow;
						position: absolute;
						z-index: -1;
						transition: width 0.5s ease;
					}
				}
				&.under {
					span {
						&::after {
							width: 100%;
						}
					}
				}
			}
		}
		.navigation-numbers {
			position: absolute;
			@include x-rem(bottom, -60px);
			@include x-rem(left, -100px);
			overflow: hidden;
			width: 140%;
			height: 100%;
			.numb-item {
				visibility: hidden;
				opacity: 0;
				transition: opacity 0.15s ease 0.01s, visibility 0.15s ease 0.01s;
				position: absolute;
				font-family: $GaramondProItalic;
				@include x-rem(font-size, 500px);
				@include x-rem(bottom, -160px);
				left: 0;
				color: $number;
				width: 100%;
				&.visible {
					opacity: 1;
					visibility: visible;
					transition-delay: 0s;
				}
			}
		}
	}
}
.logo {
	@include x-rem(width, 187px);
	@include x-rem(height, 25px);
	position: fixed;
	z-index: 10;
	background-image: url(../img/icons/logo.png);
	background-size: cover;
	@include x-rem(left, 50px);
	@include x-rem(top, 51px);
	opacity: 0;
	transition: opacity 1s linear;
	z-index: 15;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url(../img/icons/logo-logistics.png);
		display: inline-block;
		background-size: cover;
		opacity: 0;
		transition: opacity 0.3s linear;
	}
}
.language {
	position: fixed;
	@include x-rem(left, 350px);
	@include x-rem(top, 55px);
	opacity: 0;
	transition: opacity 1s linear;
	z-index: 25;
	.language-item {
		font-family: $GaramondProBoldItalic;
		@include x-rem(font-size, 16px);
		color: $bordeaux;
		display: inline-block;
		vertical-align: middle;
		&.active {
			font-family: $GaramondPro;
		}
	}
	span {
		font-family: $GaramondPro;
		@include x-rem(font-size, 16px);
		color: $bordeaux;
		cursor: default;
		pointer-events: none;
		user-select: none;
		display: inline-block;
		vertical-align: middle;
	}

}
.developers {
	position: fixed;
	transform: rotate(270deg);
	transform-origin: left;
	@include x-rem(bottom, 50px);
	@include x-rem(right, 4px);
	width: 10px;
	z-index: 15;
	.developers-inner {
		position: absolute;
		bottom: 0;
		width: 150px;
		transform: translateX(30%);
		opacity: 0;
		transition: opacity 1s linear, transform 1s linear;
		a {
			display: block;
			font-family: $GaramondPro;
			@include x-rem(font-size, 16px);
			color: $bordeaux;
			span {
				font-family: $GaramondProBoldItalic;
			}
		}
	}
}
.page-navigation {
	position: fixed;
	@include x-rem(bottom, 45px);
	@include x-rem(left, 50px);
	z-index: 112;
	transform: translateY(120%);
	opacity: 0;
	transition: opacity 0.3s ease 0.7s, transform 1s ease 0.3s, visibility 1s ease 0.7s;
	visibility: visible;
	z-index: 15;
	&.hidden {
		opacity: 0!important;
		visibility: hidden;
		transition: opacity 1s ease 0s, transform 1s ease 0s, visibility 1s ease 0s;
		.pager__item {
			pointer-events: none;
		}
	}
}
.pager__item {
	@include x-rem(width, 45px);
	@include x-rem(height, 45px);
	display: block;
	margin: 5px 0;
	transition: opacity 0.3s ease;
	div {
		display: block;
		width: 100%;
		height: 100%;
		fill: $bordeaux;
		stroke: $bordeaux;
		transition: fill 0.3s linear;
	}
	// &.pager__item-top {
	// 	background-image: url(../img/svg/ChevronUpCircle.svg);
	// 	background-repeat: no-repeat;
	// }
	// &.pager__item-bottom {
	// 	background-image: url(../img/svg/ChevronDownCircle.svg);
	// 	background-repeat: no-repeat;
	// }
	&.pager__item-left {
		i {
			@include x-rem(width, 45px);
			@include x-rem(height, 45px);
			background-image: url(../img/svg/ChevronLeftCircle.svg);
			background-repeat: no-repeat;
			display: inline-block;
			vertical-align: middle;
			@include x-rem(margin-right, 10px);
			position: relative;
		}
	}
	&.inactive {
		opacity: 0.3;
		user-select: none;
		pointer-events: none;
	}
}
.requisites {
	position: fixed;
	@include x-rem(left, 350px);
	@include x-rem(bottom, 43px);
	transform: translateY(-30%);
	opacity: 0;
	transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
	z-index: 15;
	.requisites-inner {
		p {
			font-family: $GaramondPro;
			@include x-rem(font-size, 16px);
			color: $bordeaux;
			letter-spacing: 0.7px;
			padding-bottom: 2px;
			strong, a {
				font-family: $GaramondProBold;
				font-weight: normal;
			}
		}
		a {
			font-family: $GaramondProBold;
			font-weight: normal;
			@include x-rem(font-size, 16px);
			color: $bordeaux;
			transition: color 0.3s ease;
		}
	}
}
.load {
	.logo, .navigation, .language {
		opacity: 1;
	}
	.page-navigation, .requisites {
		opacity: 1;
		transform: none;
	}
	.developers {
		.developers-inner {
			opacity: 1;
			transform: none;
		}
	}
}
.pjax {
	position: relative;	
	@include x-rem(padding, 20px 0 20px 50px);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s linear 0.2s;
	&.visible {
		opacity: 1;
		transition: opacity 0.3s linear 0s;
	}
	&.complete {
		.rotator {
			.rotator-video, .rotator-image, .rotator-image_single, .rotator-news_single {
				&::after {
					width: 0;
				}
			}
		}
		&.loading {
			transition: opacity 0.5s linear 0.5s;
			opacity: 0;
		}
		.pagination, .punchline {
			opacity: 1;
			transform: none;
		}
	}
	.pjax-container {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
.rotator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.rotator-video {
		right: 0;
		height: 100%;
		position: absolute;
		@include x-rem(left, 247px);
		&::after {
			content: '';
			width: 40%;
			transition: width 1.4s ease;
			position: absolute;
			top: 0;
			left: -10px;
			bottom: 0;
			background-color: $beige;
			z-index: 15;
		}
		& + .punchline {
			width: 80%;
			.punchline-bottom, .punchline-top {
				width: 80%;
				.item {
					width: 100%;
				}
			}
		}
		.rotator-video_item {
			width: 100%;
			height: 100%;
			background-size: cover;
		}
		.swiper-container {
			width: 100%;
			height: 100%;
		}
		.pagination {
			bottom: 20px;
			left: 40%;
			z-index: 15;
		}
	}
	.rotator__right {
		float: right;
		width: 53.125%;
		position: relative;
		height: 100%;
	}
	.rotator__left {
		float: left;
		width: 46.875%;
		position: relative;
		height: 100%;
		padding: 10% 0 0;
		@include r(1399){
			padding: 6% 0 0;
		}
	}
	.rotator-image, .rotator-image_single {
		right: 0;
		height: 100%;
		position: absolute;
		left: 0;
		&::after {
			content: '';
			width: 40%;
			transition: width 0.7s linear;
			position: absolute;
			top: 0;
			left: -10px;
			bottom: 0;
			background-color: $beige;
			z-index: 15;
		}
		.rotator-image_item {
			width: 100%;
			height: 100%;
			background-size: cover;
			overflow: hidden;
			.img {
				transform: scale(1.1) translate(80px);
				transition: transform 13s linear 0.5s;
				// max-width: 105%;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 120%;
				background-size: cover;
				background-position: 50%;
				height: 100%;
				@include r(1800) {
					transform: scale(1.1) translateX(80px);
				}
				@include r(1399) {
					transform: scale(1.1) translateX(60px);
					max-width: 115%;
				}
			}
			&.swiper-slide-active {
				.img {
					transform: scale(1) translate(0px);
					transition-delay: 0s;
					will-change: transform;
				}
			}
		}
		.swiper-container {
			width: 100%;
			height: 100%;
		}
		.pagination {
			@include x-rem(bottom, 20px);
			left: 6%;
			z-index: 15;

		}
		.swiper-pagination-bullet {
			opacity: 1;
		}
	}
}
video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.swiper-pagination-bullet {
	width: 18px;
	height: 18px;
	position: relative;
	display: inline-block;
	background-color: transparent;
	margin: 0 6px;
	&::after {
		content: '';
		width: 6px;
		height: 6px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -3px 0 0 -3px;
		background-color: $bordeaux;
		z-index: 1;
		border-radius: 100%;
		transition: background-color 0.3s linear;
	}
	&.swiper-pagination-bullet-active {
		&::after {
			background-color: $white;
			transition: background-color 0.3s linear;
		}
	}
}
.pagination {
	position: absolute;
	transform: translateY(-30%);
	opacity: 0;
	transition: opacity 0.5s linear 0.5s, transform 0.5s linear 0.5s;
	.shadow {
		position: absolute;
		left: 6px;
		top: 0;
		background-color: $bordeaux;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		transition: left 0.2s ease;
		z-index: -1;
	}
}
.punchline {
	position: absolute;
	z-index: 150;
	top: 45%;
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
	.punchline-action {
		font-family: $BaronBlack;
		@include x-rem(font-size, 70px);
		color: $bordeaux;
		@include x-rem(letter-spacing, 30px);
	}
	.punchline-top, .punchline-bottom {
		display: inline-block;
		vertical-align: top;
		position: relative;
		.item {
			position: absolute;
			top: 0;
			opacity: 1;
			visibility: visible;
			display: inline-block;
			opacity: 0;
			&.active {
				opacity: 1;
			}
		}
	}
	.next {
		width: 50px;
		height: 50px;
		background-color: #000
	}
}
.content {
	.title {
		font-family: $BaronBlack;
		@include x-rem(font-size, 70px);
		@include x-rem(letter-spacing, 25px);
		color: $bordeaux;
		@include x-rem(margin-bottom, 60px);		
		transform: translateY(50px);
		opacity: 0;
		transition: transform 0.5s linear, opacity 0.5s linear;
	}
}
.rotator-company {
	.punchline {
		position: relative;
		top: 0;
		@include clearfix;
	}
	.punchline-top {
		transform: translateY(50px);
		opacity: 0;
		transition: transform 0.4s linear 0s, opacity 0.4s linear 0s;
	}
	.punchline-bottom {
		transform: translateY(50px);
		opacity: 0;
		transition: transform 0.4s linear 0s, opacity 0.4s linear 0s;
	}
	.punchline-rotator {
		@include clearfix;
		width: 44.5%;
		@include clearfix;
		position: relative;
		&:first-child {
			@include x-rem(width, 300px);
		}
		.item {
			left: 0;
		}
	}
	.company__head {
		font-family: $GaramondProItalic;
		@include x-rem(font-size, 42px);
		@include x-rem( line-height, 48px);
		color: $orange;
		@include x-rem(padding, 0 15px 0 50px);
		position: relative;
		&::before {
			content: '—';
			left: 0;
			position: absolute;
			@include x-rem(top, -4px);
		}
	}
}
.company__body, .products__body {
	p {
		font-family: $GaramondPro;
		color: $bordeaux;
		@include x-rem(font-size, 16px);
		@include x-rem( line-height, 30px);
		letter-spacing: 0.9px;
		&:not(:last-child) {
			@include x-rem(margin, 0 0 20px 0);
		}
		i {
			font-family: $GaramondProItalic;
			font-style: normal;
			color: $red;
		}
	}
}
.pjax.complete {
	.rotator-company {
		.punchline-top, .punchline-bottom {
			opacity: 1;
			transform: none;
			trabsition-delay: 0.8s;
		}
	}
	.content {
		.title {
			opacity: 1;
			transform: none;
			trabsition-delay: 0.8s;
		}
	}
}
.container-products, .container-logistics {
	@include clearfix;
	height: 100%;
}
.products-columns {
	width: 50%;
	float: left;
	height: 100%;
	position: relative;
	&.products-left {
		padding: 10% 0 0;
		@include r(1399){
			padding: 6% 0 0;
		}
	}
	.punchline {
		width: 100%;
		position: relative;
		top: 0;
		.punchline-single {
			width: 40%;
			@include x-rem(margin-left, 300px);
		}
	}
	.image-cover {
		// @include x-rem(max-width, 710px);
		max-width: 75%;
		@include r(1399) {
			max-width: 80%;
		}
		position: absolute;
		right: 0;
		&::after {
			content: '';
			width: 40%;
			transition: width .7s linear;
			position: absolute;
			top: 0;
			left: -10px;
			bottom: 0;
			background-color: $beige;
			z-index: 15;
		}
		img {
			max-height: none;
			object-fit: cover;
			position: absolute;
			max-width: 120%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.products-navi {
	position: absolute;
	top: 35%;
	left: 1%;
	z-index: 16;
	.progucts-navi_item {
		font-family: $Baron;
		@include x-rem(font-size, 28px);
		display: block;
		color: $bordeaux;
		@include x-rem(padding, 15px 0);
		@include x-rem(letter-spacing, 18.9px);
		transform: translate(0, 0);
		opacity: 0;
		transition: color 0.7s linear, transform 0.7s linear, opacity 0.7s linear;
		span {
			position: relative;
			&::after {
				content: '';
				height: 14px;
				left: -7px;
				bottom: 0px;
				width: 0;
				background-color: #ffe073;
				position: absolute;
				z-index: -1;
				transition: width .5s ease;
			}
		}
		&:nth-child(2) {
			transition-delay: 0.3s;
		}
		&:nth-child(3) {
			transition-delay: 0.6s;
		}
		&:hover {
			span {
				&::after {
					width: 100%;
				}
			}
		}
	}
}
.products-fader {
	.image-cover {
		.img {
			&:not(:first-of-type) {
				display: none;
			}
		}
	}
}
.image-cover {
	width: 100%;
	overflow: hidden;
	height: 100%;
	.img {
		max-height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		width: 120%;
		bottom: 0;
		background-size: cover;
	}
}
.pjax.complete {
	.image-cover {
		&::after {
			width: 0;
		}
	}
	.container-contacts {
		.columns {
			position: relative;
			overflow: hidden;
		}
		.maps {
			&::after {
				width: 0;
			}
		}
	}
	.products-navi {
		.progucts-navi_item {
			transform: none;
			opacity: 1;
		}
	}
}
.products-inner {
	.punchline {
		position: relative;
		top: 0;
	}
	.punchline-single_columns {
		width: 40%;
		@include x-rem(min-width, 300px);
		@include x-rem(margin-left, 300px);
		float: left;
		&:nth-child(2) {
			width: 43%;
			@include r(1399) {
				width: 53%;
			}
		}
		.characteristics {
			// padding: 0 30% 0 20%;
		}
	}
	.btn-back {
		position: absolute;
		@include x-rem(bottom, 25px);
		left: 0;
		.pager__item {
			display: inline-block;
			width: auto;
			span {
				font-family: $Baron;
				color: $bordeaux;
				@include x-rem(font-size, 14px);
				@include x-rem(letter-spacing, 7px);
			}
		}
	}
}
.characteristics {
	margin-top: 5px;
	.characteristics-item {
		@include x-rem(margin, 0 0 20px 0);
		.characteristics-item_name {
			font-family: $GaramondProBold;
			color: $bordeaux;
			@include x-rem(font-size, 16px);
			@include x-rem(margin, 0 0 10px 0);
		}
		.characteristics-item_body {
			font-family: $GaramondPro;
			color: $bordeaux;
			@include x-rem(font-size, 16px);
			@include x-rem(line-height, 30px);
		}
	}
}
.columns {
	width: 50%;
	float: left;
	height: 100%;
}
.container-logistics {
	.columns {
		position: relative;
		&:first-of-type {
			padding-top: 10%;
		}
	}
	.content {
		.title {
			color: $orange;
		}
	}
	.punchline {
		position: relative;
		top: 0;
		@include clearfix;
	}
	.punchline-single_columns {
		width: 34%;
		float: left;
		@include x-rem(min-width, 300px);
		&:nth-child(2) {
			width: 43%;
		}
		.characteristics {
			padding: 0 30% 0 20%;
		}
	}
	.products__head {
		font-family: $GaramondProItalic;
		@include x-rem(font-size, 42px);
		color: $white;
		@include x-rem(padding, 0 15px 0 50px);
		position: relative;
		&::before {
			content: '—';
			left: 0;
			position: absolute;
			@include x-rem(top, -4px);
		}
	}
	.products__body {
		p {
			color: $white;
		}
	}
}

.container-media {
	@include clearfix;
	height: 100%;
	.columns {
		&:first-of-type {
			padding-top: 10%;
		}
	}
	.columns {
		width: 50%;
		float: left;
		position: relative;
		&:last-child {
			width: 50%;
		}
	}
	.punchline {
		width: 100%;
		position: relative;
		top: 0;
		.punchline-single {
			@include x-rem(margin-left, 300px);
		}
	}
	.products-navi {
		position: relative;
		top: 0;
		left: 0;
	}
	.image-cover {
		@include x-rem(max-width, 710px);
		position: absolute;
		right: 0;
		@include r(1399) {
			max-width: 90%;
		}
		&::after {
			content: '';
			width: 40%;
			transition: width .7s linear;
			position: absolute;
			top: 0;
			left: -10px;
			bottom: 0;
			background-color: $beige;
			z-index: 15;
		}
		img {
			max-height: none;
			object-fit: cover;
			position: absolute;
			max-width: 120%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.container-news {
	@include clearfix;
	height: 100%;
	.columns {
		&:first-of-type {
			padding-top: 10%;
		}
	}
	.columns {
		width: 50%;
		float: left;
		&:last-child {
			width: 50%;
		}
	}
	.punchline {
		width: 100%;
		position: relative;
		top: 0;
		.punchline-single {
			width: 30%;
			@include x-rem(margin-left, 300px);
		}
	}
}
.navi-category {
	ul {
		font-size: 0;
		li {
			display: inline-block;
			width: 50%;
			a {
				font-family: $GaramondPro;
				@include x-rem(font-size, 16px);
				color: $bordeaux;
				@include x-rem(padding, 10px 0);
				display: block;
				&.active {
					font-family: $GaramondProBold;
				}
			}
		}
	}
}
.rotator-news_single {
	right: 0;
	height: 100%;
	position: absolute;
	left: 0;
	background-image: url(../img/news/news.jpg);
	background-size: cover;
	background-position: 100% 100%;
	transition: opacity 0.7s ease;
	&::after {
		content: '';
		width: 40%;
		transition: width 0.7s linear;
		position: absolute;
		top: 0;
		left: -10px;
		bottom: 0;
		background-color: $beige;
		z-index: 15;
	}
	.rotator-image_item {
		width: 100%;
		height: 100%;
		background-size: cover;
		img {
			transform: scale(1.2) translateX(130px);
			transition: transform 7s linear 0s;
			max-width: 105%;
			position: absolute;
			bottom: 0;
			right: 0;

		}
		&.swiper-slide-active {
			img {
				transform: scale(1) translate(0px);
			}
		}
	}
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.pagination {
		@include x-rem(bottom, 20px);
		left: 6%;
		z-index: 15;

	}
	.swiper-pagination-bullet {
		opacity: 1;
	}
}
.news {
	padding: 21%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	.news-item {
		display: inline-block;
		width: 100%;
		&:not(:last-child) {
			@include x-rem(margin, 0 0 72px 0);
		}
		data {
			font-family: $GaramondPro;
			@include x-rem(font-size, 16px);
			color: $bordeaux;
		}
		a, span {
			font-family: $GaramondProItalic;
			@include x-rem(font-size, 42px);
			color: $bordeaux;
			display: inline-block;
			width: 100%;
			cursor: pointer;
		}
	}
	.head {
		span {
			transition: transform 0.3s ease-in-out;
		}
		&.open {
			span {
				transform: scale(0.7) translate(-21%);
			}
		}
	}
	.container {
		display: none;
		p {
			font-family: $GaramondPro;
			color: $bordeaux;
			@include x-rem(font-size, 16px);
			@include x-rem(line-height, 27px);
		}
	}
}
.container-careers {
	.rotator-news_single {
		background-image: url(../img/careers/careers.jpg);
		background-size: cover;
		background-position: 100% 100%;
		background-repeat: no-repeat;
	}
	.punchline {
		width: 100%;
		position: relative;
		top: 0;
		.punchline-single {
			width: 41.5%;
			@include x-rem(margin-left, 300px)
		}
	}
}
.container-faq {
	.rotator-news_single {
		background-image: url(../img/faq/faq.jpg);
		background-size: cover;
		background-position: 100% 100%;
		background-repeat: no-repeat;
	}
	.punchline {
		width: 100%;
		position: relative;
		top: 0;
		.punchline-single {
			width: 41.5%;
			@include x-rem(margin-left, 300px)
		}
	}
	.navi-category {
		li {
			width: 100%;
		}
	}
}
.container-contacts {
	@include clearfix;
	height: 100%;
	.columns {
		&:first-of-type {
			padding-top: 10%;
		}
	}
	.columns {
		width: 50%;
		float: left;
		&:last-child {
			width: 50%;
		}
	}
	.punchline {
		width: 100%;
		position: relative;
		top: 0;
		.punchline-single {
			width: 40%;
			@include x-rem(margin-left, 300px)
		}
	}
	.maps {
		position: relative;
		&::after {
			content: '';
			width: 60%;
			height: 100%;
			position: absolute;
			top: 0;
			left: -10px;
			background-color: $beige;
			transition: width .7s linear;
		}
	}
}
.maps {
	width: 100%;
	height: 100%;
}
.link {
	background-color: $orange;
	display: inline-block;
	text-align: center;
	@include x-rem(border-radius, 20px);
	cursor: pointer;
	@include x-rem(margin, 20px 0);
	span {
		display: inline-block;
		font-family: $GaramondProBoldItalic;
		@include x-rem(font-size, 16px);
		color: $white;
		letter-spacing: 1.2px;
		@include x-rem(padding, 11px 24px);
		user-select: none;
	}
}
.cycle-rotator {
	position: absolute;
	@include x-rem(top, -20px);
	@include x-rem(bottom, -20px);
	left: 0;
	overflow: hidden;
	width: 150px;
	.cycle {
		overflow: hidden;
		padding: 100px 0;
		.items {
			padding: 15px 0;
			.country {
				font-family: $GaramondProBold;
				@include x-rem(font-size, 16px);
				color: $white;
			}
			.location {
				font-family: $GaramondPro;
				@include x-rem(font-size, 16px);
				color: $white;
			}
		}
		.slick-slide {
			opacity: 0.05;
			transition: opacity 5.5s linear;
			&.slick-active {
				opacity: 1;
			}
		}
	}
	.slick-list {
		overflow: visible!important;
	}
}
.cap {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $beige;
	display: none;
	@include r(992){
		display: block;
	}
	.cap-inner {
		width: 230px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		.image {
			background-image: url(../img/icons/mobile.png);
			@include x-rem(width, 94px);
			@include x-rem(height, 184px);
			display: inline-block;
			background-size: cover;
			@include x-rem(margin-bottom, 30px);
		}
		p {
			font-family: $GaramondProItalic;
			color: $bordeaux;
			@include x-rem(font-size, 42px);
			@include x-rem(margin-bottom, 50px);
		}
		a {
			line-height: 19px;
			@include x-rem(font-size, 16px);
			font-family: $GaramondProBoldItalic;
			color: $white;
			position: relative;
			background-color: $orange;
			padding: 8px 25px;
			border-radius: 20px;
			letter-spacing: 1.3px;
		}
	}
}


@-webkit-keyframes effect-1-1 { 
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes effect-1-1 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes effect-1-2 { 
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(-360deg);
	}
}

@keyframes effect-1-2 {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(-360deg);
	}
}

.zoomIn, .zoomOut {
	background-color: $orange;
}
.zoomIn {
	border-bottom: 1px solid $bordeaux;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	position: relative;
	&::after {
		content: "+";
		position: absolute;
		color: $white;
		font-family: $GaramondPro;
		font-size: 18px;
		line-height: 0;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.zoomOut {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	position: relative;
	&::after {
		content: "-";
		position: absolute;
		color: $white;
		font-family: $GaramondPro;
		font-size: 18px;
		line-height: 0;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.gmnoprint, .gmnoscreen, .gm-style-cc {
	display: none;
}
.maps a, #l-map a {
	display: none!important;
}
.map-logistic {
	position: absolute;
	@include x-rem(top, -20px);
	@include x-rem(bottom, -20px);
	@include x-rem(left, -50px);
	right: 0;
	#l-map {
		width: 100%;
		height: 100%;
	}
}

.overlay {
	position: fixed;
	background-color: rgba(53,15,13,.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 151;
	opacity: 0;
	visibility: hidden;
}
.popup__wrapper {
	position: absolute;
	height: 100%;
	right: 0;
	top: -105%;
	z-index: 152;
	width: 100%;
	background-color: $orange;
	&::after{
		content: '';
		position: absolute;
		@include x-rem(bottom, -5px);
		background-color: $orange;
		left: 0;
		right: 0;
		@include x-rem(height, 5px);
	}		
	.popup {
		@include x-rem(padding, 80px);
		position: relative;
		width: 100%;
		font-size: 0;
		height: 100%;
		text-align: center;
		&::before {
			content: "";
			height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
		}
		.close-modal {
			@include x-rem(width, 80px);
			@include x-rem(height, 80px);
			top: 0;
			right: 0;
			position: absolute;
			cursor: pointer;
			div {
				@include x-rem(width, 30px);
				@include x-rem(height, 30px);
				position: absolute;
				top: 50%;
				left: 50%;
				@include x-rem(margin, -15px 0 0 -15px);
				span {
					width: 100%;
					position: absolute;
					height: 2px;
					background-color: $white;
					&:nth-child(1){
						@include x-rem(top, 9px);
						transform: rotate(135deg);
					}
					&:nth-child(2) {
						@include x-rem(top, 9px);
						transform: rotate(-135deg);
					}
				}
			}
		}
	}
}
.form-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 100%;
	@include x-rem(max-width, 670px);
	@include r(1280){
		@include x-rem(max-width, 400px);
	}
	// position: absolute
	// top: 50%
	// @include x-rem(max-width, 560px)
	// width: 100%
	// left: 50%
	// transform: translate(-50%, -50%)
	.form-container__inner {
		&.show-next {
			.form-area {
				li.current {
					.numbers {
						span {
							animation: moveUpFromDown 0.4s both;
						}
					}
					span {
						label {
							animation: moveUpFromDown 0.4s both;
						}
					}
				}
			}
			.pagin {
				.pagin-current {
					transform: translateY(-100%);
					transition: trsnasform 0.4s;
				}
				.pagin-next {
					animation: moveUpFromDown 0.4s both;
				}
			}
		}
		&.hide {
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s, visibility 0s 0.3s;
		}
	}
	.form-area {
		transition: height 0.4s ease;
		position: relative;
		li {
			position: relative;
			visibility: hidden;
			height: 0;
			transition: height 0.3s ease, visibility 0.3s ease;
			// z-index: 100
			&.current {
				height: auto;
				visibility: visible;
				transition: none;
				.numbers {
					span {
						transform: translateY(0);
						transition: none;
					}
				}
				span {
					label {
						transform: translateY(0);
						transition: none;
					}
				}
				.input {
					input {
						opacity: 1;
					}
				}
			}
			span {
				display: block;
				overflow: hidden;
				@include x-rem(margin-bottom, 15px);
				label {
					display: block;
					transform: translateY(-100%);
					font-family: $GaramondProBold;
					color: $white;
					@include x-rem(font-size, 16px);
					@include x-rem(letter-spacing, 1.6px);
					transition: transform 0.3s;
				}
			}
			.input {
				display: block;
				width: 100%;
				border-width: 2px;
				border-style: solid;
				border-color: $white;
				@include x-rem(height, 75px)
				input {
					display: block;
					width: 100%;
					border: none;
					opacity: 0;
					transition: opacity 0.3s;
					@include x-rem(height, 71px);
					@include x-rem(padding, 8px 75px 8px 28px);
					font-family: $GaramondProBold;
					color: $white;
					background-color: transparent;
					@include x-rem(font-size, 35px);		
					@include x-rem(letter-spacing, 2.5px);
					&::-webkit-input-placeholder, {
						@include x-rem(font-size, 16px);
						font-family: $GaramondProItalic;
						@include x-rem(line-height, 71px);
					}
					&::-moz-placeholder {
						@include x-rem(font-size, 16px);
						font-family: $GaramondProItalic;
						@include x-rem(line-height, 71px);
					}
					&:-moz-placeholder {
						@include x-rem(font-size, 16px);
						font-family: $GaramondProItalic;
						@include x-rem(line-height, 71px);
					}
					&:-ms-input-placeholder {
						@include x-rem(font-size, 16px);
						font-family: $GaramondProItalic;
						@include x-rem(line-height, 71px);
					}
				}
			}
		}
	}
	.controls {
		position: relative;
		z-index: 1;
	}
	.submit {
		display: none;
	}
	.next {
		position: absolute;
		right: 0;
		bottom: 4px;
		@include x-rem(width, 75px);
		@include x-rem(height, 75px);
		display: block;
		padding: 0;
		border: none;
		background: none;
		text-align: center;
		z-index: 100;
		cursor: pointer;
		transform: translateX(-20%);
		transition: transform 0.3s ease, opacity 0.3s ease;
		opacity: 0;
		&::after {
			content: "";
			@include x-rem(width, 22px);
			@include x-rem(height, 17px);
			background-image: url(../img/svg/arrow-right.svg);
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			left: 50%;
			@include x-rem(margin, -8px 0 0 -11px);
		}
		&.show {
			transform: none;
			opacity: 1;
			pointer-events: auto;
		}
	}
	.progress {
		background-color: $white;
		height: 7px;
		width: 0%;
		margin-top: 0px;
		transition: width 0.3s ease;
		&::after {
			content: "";
			width: 100%;
			position: absolute;
			top: auto;
			background-color: rgba(255,255,255,.2);
			height: inherit;
			z-index: -1;
		}
	}
	.pagin {
		position: absolute;
		right: 0;
		overflow: hidden;
		@include x-rem(width, 120px);
		text-align: right;
		@include x-rem(margin-top, 10px);
		span {
			color: $white;
			@include x-rem(font-size, 16px);
			@include x-rem(letter-spacing, 2.5px);
			font-family: $GaramondProBold;
			&.separator {
				@include x-rem(padding, 0 5px);
			}
		}
		.pagin-next {
			position: absolute;
			left: 0;
			font-family: $GaramondProBold;
			top: 5px;
		}
	}
	.error-message {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s;
		@include x-rem(font-size, 14px);
		color: $white;
		@include x-rem(letter-spacing, 0.9px);
		@include x-rem(margin-top, 10px);
		font-family: $GaramondPro;
		&.show {
			visibility: visible;
			opacity: 1;
		}
	}
	.final-message {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s ease;
		top: 0;
		width: 100%;
		text-align: left;
		&.show {
			visibility: visible;
			opacity: 1;
			transition-delay: 0.5s;
		}
		.message-inner {
			.message-title {
				font-family: $Baron;
				@include x-rem(font-size, 28px);
				color: $white;
				text-transform: lowercase;
				@include x-rem(letter-spacing, 20px);
				line-height: 1.7;
			}
			span {
				font-family: $GaramondProBold;
				@include x-rem(font-size, 24px);
				color: $white;
				@include x-rem(letter-spacing, 0.9px);
				line-height: 1.7;
			}
			.message-close {
				font-size: 10px;
				color: $white;
				text-transform: uppercase;
				letter-spacing: 1.9px;
				@include x-rem(margin-top, 90px);
				cursor: pointer;
			}
		}
	}
}
@keyframes moveUpFromDown {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
