@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/Swiper/dist/css/swiper.css";
@import "lib/base";

html {
	text-size-adjust: 100%;
	height: 100%;
	font-size: 16px;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	height: 100%;
	min-width: 320px;
	background-color: $beige;
}
* {
	margin: 0;
	outline: none;
}
*, *::after, *::before {
	box-sizing: border-box;
}
h1 {
	margin: 0;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
a {
	text-decoration: none;
}
.viewport {
	@include x-rem(padding, 20px 0 20px 50px);
	position: relative;
	height: 100%;
}
.navigation {
	position: fixed;
	width: 50px;
	height: 50px;
	top: 40px;
	right: 20px;
	z-index: 110;
	opacity: 0;
	transition: opacity 1s linear;
	.navigation__trigger {
		background-color: $bordeaux;
		width: 100%;
		height: 100%;
		cursor: pointer;
		position: relative;
		text-align: center;
		span {
			height: 2px;
			width: 30px;
			display: inline-block;
			background-color: $white;
			vertical-align: middle;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%);
			&::after {
				position: absolute;
				content: '';
				width: 100%;
				left: 0;
				background-color: $white;
				height: 2px;
				top: -10px;
			}
			&::before {
				position: absolute;
				content: '';
				width: 100%;
				left: 0;
				background-color: $white;
				height: 2px;
				bottom: -10px;
			}
		}
	}
}
.navigation-area {
	position: fixed;
	background-color: rgba(53,15,13,.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 109;
	.navigation-content {
		background-color: $beige;
		width: 0;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 110;
		transition: width 0.3s $bizer;
		overflow: hidden;
	}
	.navigation-layer {
		@include x-rem(width, 540px);
		position: absolute;
		left: 0;
		@include x-rem(bottom, 80px);
		@include x-rem(padding, 0 0 0 63px);
		.navigation-list {
			position: relative;
			z-index: 4;
			.navigation-items {
				font-family: $Baron;
				@include x-rem(font-size, 28px);
				text-transform: lowercase;
				color: $bordeaux;
				@include x-rem(letter-spacing, 10px);
				display: inline-block;
				width: 100%;
				span {
					display: inline-block;
					position: relative;
					@include x-rem(padding, 8px 0);
				}
				&:first-child, &:nth-child(4) {
					margin-bottom: 50px;
				}
				&.active {
					span {
						&::after {
							content: '';
							height: 14px;
							left: -2px;
							bottom: 7px;
							right: 0px;
							background-color: $yellow;
							position: absolute;
							z-index: -1;
						}
					}
				}
			}
		}
		.navigation-numbers {
			position: absolute;
			@include x-rem(bottom, -60px);
			@include x-rem(left, -100px);
			.numb-item {
				visibility: hidden;
				opacity: 0;
				transition: opacity 0.4s linear 0.1s, visibility 0.4s linear 0.1s;
				position: absolute;
				font-family: $GaramondProItalic;
				@include x-rem(font-size, 500px);
				@include x-rem(line-height, 350px);
				bottom: 0;
				left: 0;
				color: $number;
				&.visible {
					opacity: 1;
					visibility: visible;
					transition-delay: 0s;
				}
			}
		}
	}
}
.logo {
	@include x-rem(width, 187px);
	@include x-rem(height, 25px);
	position: fixed;
	z-index: 10;
	background-image: url(../img/icons/logo.png);
	background-size: cover;
	@include x-rem(left, 50px);
	@include x-rem(top, 51px);
	opacity: 0;
	transition: opacity 1s linear;
	z-index: 15;
}
.language {
	position: fixed;
	@include x-rem(left, 350px);
	@include x-rem(top, 55px);
	opacity: 0;
	transition: opacity 1s linear;
	z-index: 25;
	.language-item {
		font-family: $GaramondProBoldItalic;
		@include x-rem(font-size, 16px);
		color: $bordeaux;
		display: inline-block;
		vertical-align: middle;
		&.active {
			font-family: $GaramondPro;
		}
	}
	span {
		font-family: $GaramondPro;
		@include x-rem(font-size, 16px);
		color: $bordeaux;
		cursor: default;
		pointer-events: none;
		user-select: none;
		display: inline-block;
		vertical-align: middle;
	}

}
.developers {
	position: fixed;
	transform: rotate(270deg);
	transform-origin: left;
	@include x-rem(bottom, 50px);
	@include x-rem(right, 4px);
	width: 10px;
	z-index: 15;
	.developers-inner {
		position: absolute;
		bottom: 0;
		width: 150px;
		transform: translateX(30%);
		opacity: 0;
		transition: opacity 1s linear, transform 1s linear;
		a {
			display: block;
			font-family: $GaramondPro;
			@include x-rem(font-size, 16px);
			color: $bordeaux;
			span {
				font-family: $GaramondProBoldItalic;
			}
		}
	}
}
.page-navigation {
	position: fixed;
	@include x-rem(bottom, 45px);
	@include x-rem(left, 50px);
	z-index: 112;
	transform: translateY(120%);
	opacity: 0;
	transition: opacity 1s linear 0.7s, transform 1s linear 0.7s;
	z-index: 15;
	.pager {
		.pager__item {
			@include x-rem(width, 45px);
			@include x-rem(height, 45px);
			display: block;
			margin: 5px 0;
			&.pager__item-top {
				background-image: url(../img/svg/ChevronUpCircle.svg);
			}
			&.pager__item-bottom {
				background-image: url(../img/svg/ChevronDownCircle.svg);
			}
			&.inactive {
				opacity: 0.3;
				user-select: none;
				pointer-events: none;
			}
		}
	}
}
.requisites {
	position: fixed;
	@include x-rem(left, 350px);
	@include x-rem(bottom, 43px);
	transform: translateY(-30%);
	opacity: 0;
	transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
	z-index: 15;
	.requisites-inner {
		p {
			font-family: $GaramondPro;
			@include x-rem(font-size, 16px);
			color: $bordeaux;
			letter-spacing: 0.7px;
			padding-bottom: 2px;
			strong, a {
				font-family: $GaramondProBold;
				font-weight: normal;
			}
		}
		a {
			font-family: $GaramondProBold;
			font-weight: normal;
			@include x-rem(font-size, 16px);
			color: $bordeaux;
		}
	}
}
.load {
	.logo, .navigation, .language {
		opacity: 1;
	}
	.page-navigation, .requisites, .pagination, .punchline {
		opacity: 1;
		transform: none;
	}
	.developers {
		.developers-inner {
			opacity: 1;
			transform: none;
		}
	}
}
.pjax {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s linear 0.3s;
	&.complete {
		opacity: 1;
		transition: opacity 0.3s linear 0s;
		.rotator {
			.rotator-video {
				&::after {
					width: 0;
				}
			}
		}
		&.loading {
			transition: opacity 0.5s linear 0s;
			opacity: 0;
		}
	}
	.pjax-container {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
.rotator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.rotator-video {
		right: 0;
		height: 100%;
		position: absolute;
		left: 250px;
		&::after {
			content: '';
			width: 40%;
			transition: width 1s linear;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $beige;
			z-index: 15;
		}
		.rotator-video_item {
			width: 100%;
			height: 100%;
			background-size: cover;
		}
		.swiper-container {
			width: 100%;
			height: 100%;
		}
		.pagination {
			bottom: 20px;
			left: 40%;
			z-index: 15;
		}
	}
}
video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.swiper-pagination-bullet {
	width: 18px;
	height: 18px;
	position: relative;
	display: inline-block;
	background-color: transparent;
	margin: 0 6px;
	&::after {
		content: '';
		width: 6px;
		height: 6px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -3px 0 0 -3px;
		background-color: $bordeaux;
		z-index: 1;
		border-radius: 100%;
		transition: background-color 0.3s linear;
	}
	&.swiper-pagination-bullet-active {
		&::after {
			background-color: $white;
			transition: background-color 0.3s linear;
		}
	}
}
.pagination {
	position: absolute;
	transform: translateY(-30%);
	opacity: 0;
	transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
	.shadow {
		position: absolute;
		left: 6px;
		top: 0;
		background-color: $bordeaux;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		transition: left 0.3s linear;
		z-index: -1;
	}
}
.punchline {
	position: absolute;
	z-index: 150;
	top: 45%;
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
	.punchline-action {
		font-family: $BaronBlack;
		@include x-rem(font-size, 70px);
		color: $bordeaux;
		@include x-rem(letter-spacing, 30px);
	}
	.punchline-top, .punchline-bottom {
		display: inline-block;
		vertical-align: top;
		position: relative;
		.item {
			position: absolute;
			top: 0;
			opacity: 1;
			visibility: visible;
			display: inline-block;
			transition: transform 0.4s linear;
			opacity: 0;
			&.active {
				opacity: 1;
			}
		}
	}
	.next {
		width: 50px;
		height: 50px;
		background-color: #000
	}
}
// .rotator {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	.rotator-container {
// 		right: 0;
// 		height: 100%;
// 		position: absolute;
// 		left: 250px;
// 	}
// 	.pagination {
// 		bottom: 28px;
// 		left: 50%;
// 		z-index: 15;
// 	}
// 	.rotator-wrapper {
// 		right: 0;
// 		height: 100%;
// 		position: absolute;
// 		overflow: hidden;
// 		left: 0;
// 		&::after {
// 			content: '';
// 			width: 40%;
// 			transition: width 1s linear;
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			right: 0;
// 			bottom: 0;
// 			background-color: $beige;
// 			z-index: 15;
// 		}
// 		.rotator_item {
// 			width: 100%;
// 			height: 100%;
// 			position: absolute;
// 			left: 0;top: 0;
// 			background-size: cover;
// 		}
// 	}
// }
// video {
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	object-fit: cover;
// }
// .pagin-item {
// 	width: 18px;
// 	height: 18px;
// 	position: relative;
// 	display: inline-block;
// 	background-color: transparent;
// 	margin: 0 6px;
// 	&::after {
// 		content: '';
// 		width: 6px;
// 		height: 6px;
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		margin: -3px 0 0 -3px;
// 		background-color: $bordeaux;
// 		z-index: 1;
// 		border-radius: 100%;
// 		transition: background-color 0.3s linear;
// 	}
// 	&.pagin-current {
// 		&::after {
// 			background-color: $white;
// 			transition: background-color 0.3s linear;
// 		}
// 	}
// }
// .pagination {
// 	position: absolute;
// 	transform: translateY(-30%);
// 	opacity: 0;
// 	transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
// 	.shadow {
// 		position: absolute;
// 		left: 6px;
// 		top: 0;
// 		background-color: $bordeaux;
// 		width: 18px;
// 		height: 18px;
// 		border-radius: 100%;
// 		transition: left 0.3s linear;
// 		z-index: -1;
// 	}
// }