<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="../css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="../js/common.js"></script>
</head>
<body>
<div class="viewport">
	<header class="header">
		<a href="" class="logo"></a>
		<div class="language">
			<a href="" class="language-item active">En</a>
			<span>—</span>
			<a href="" class="language-item">Fr</a>
		</div>
	</header>
	<div class="pjax">
		<div class="pjax-container" id="company">
			1
		</div>
	</div>
	<footer class="footer">
		<div class="developers">
			<div class="developers-inner">
				<a href="">Made in <span>Flexmedia</span></a>
			</div>
		</div>
		<div class="requisites">
			<div class="requisites-inner">
				<p><strong>Solcata SA</strong></p>
				<p>Rue Agasse 54, 1208 Geneva, Switzerland</p>
				<p>+41 76 5838056, <a href="mailto:info@solcata.com">info@solcata.com</a></p>
			</div>
		</div>
	</footer>
	<div class="navigation">
		<div class="navigation__trigger">
			<span></span>
		</div>
	</div>
	<nav class="navigation-area">
		<div class="navigation-content">
			<div class="navigation-layer">
				<div class="navigation-numbers"></div>
				<div class="navigation-list">
					<a href="/" data-id="index" class="navigation-items ajaxtrigger"><span>Home</span></a>
					<a href="/company/" data-id="company" class="navigation-items active ajaxtrigger"><span>Company</span></a>
					<a href="#" class="navigation-items ajaxtrigger"><span>Products</span></a>
					<a href="#" class="navigation-items ajaxtrigger"><span>Logistics</span></a>
					<a href="#" class="navigation-items ajaxtrigger"><span>Media center</span></a>
					<a href="#" class="navigation-items ajaxtrigger"><span>Contact us</span></a>
				</div>
			</div>
		</div>
	</nav>
	<div class="page-navigation">
		<div class="page-navigation_container">
			<div class="pager">
				<a id="pager-top" href="/" class="pager__item pager__item-top ajaxtrigger" data-id='index'></a>
				<a id="pager-bottom" href="/company/" class="pager__item pager__item-bottom ajaxtrigger" data-id='company'></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>