<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="js/common.js"></script>
</head>
<body>
<div class="viewport">
	<header class="header">
		
	</header>
	
	<div class="navigation">
		<div class="navigation__trigger">
			<span></span>
		</div>
	</div>
	<nav class="navigation-area">
		<div class="navigation-content">
			<div class="navigation-layer">
				<div class="navigation-numbers"></div>
				<div class="navigation-list">
					<a href="#" class="navigation-items active" data-number="01"><span>Home</span></a>
					<a href="#" class="navigation-items" data-number="02"><span>Company</span></a>
					<a href="#" class="navigation-items" data-number="03"><span>Products</span></a>
					<a href="#" class="navigation-items" data-number="04"><span>Logistics</span></a>
					<a href="#" class="navigation-items" data-number="05"><span>Media center</span></a>
					<a href="#" class="navigation-items" data-number="06"><span>Contact us</span></a>
				</div>
			</div>
		</div>
	</nav>
</div>
</body>
</html>