<!doctype html>
<html>
<head>
	<title>Index</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=980">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<!-- <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script> -->
	
	<script src="js/common.js"></script>
</head>
<body>
<div class="viewport">
	<header class="header">
		<a href="/" class="logo ajaxtrigger"></a>
		<div class="language">
			<a href="" class="language-item active">En</a>
			<span>—</span>
			<a href="" class="language-item">Fr</a>
		</div>
	</header>
	<div class="pjax">
		<div class="pjax-container" id="container">
			<div class="rotator">
				<div class="rotator-video">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="rotator-video_item swiper-slide" style="" data-video="1" data-videos="https://res.cloudinary.com/socialmanage/video/upload/v1470901441/threesixty-video-loop_bjiubl.mp4" data-poster="img/desktop.jpg">
							</div>
							<div class="rotator-video_item swiper-slide" style="" data-video="2" data-videos="https://res.cloudinary.com/socialmanage/video/upload/v1470901441/threesixty-video-loop_bjiubl.mp4" data-poster="img/desktop.jpg">
							</div>
							<div class="rotator-video_item swiper-slide" style="" data-video="3" data-videos="https://res.cloudinary.com/socialmanage/video/upload/v1470901441/threesixty-video-loop_bjiubl.mp4" data-poster="img/desktop.jpg">
							</div>
						</div>
					</div>
					<div class="pagination"></div>
				</div>
				<div class="punchline">
					<div class="punchline-action">
						We <div class="punchline-top punchline-rotator"><div class="item">provide</div><div class="item">supply</div><div class="item">insure</div></div> <br> <div class="punchline-bottom punchline-rotator"><div class="item">commodities</div><div class="item">oil & petroleum</div><div class="item">iron ore</div></div><br> to the world
					</div>
				</div>
			</div>
			<script>
				$(function(){
					window.onload = function(){
						videoInit();
						initPunch();
						swiperIndex();
					};
				});
			</script>
		</div>
	</div>
	<footer class="footer">
		<div class="developers">
			<div class="developers-inner">
				<a href="">Made in <span>Flexmedia</span></a>
			</div>
		</div>
		<div class="requisites">
			<div class="requisites-inner">
				<p><strong>Solcata SA</strong></p>
				<p>Rue Agasse 54, 1208 Geneva, Switzerland</p>
				<p>+41 76 5838056, <a href="mailto:info@solcata.com">info@solcata.com</a></p>
			</div>
		</div>
	</footer>
	<div class="cap">
		<div class="cap-inner">
			<div class="image"></div>
			<p>Please, switch to&nbsp;the&nbsp;mobile version</p>
			<a href="">Switch</a>
		</div>
	</div>
	<div class="navigation">
		<div class="navigation__trigger">
			<div>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<nav class="navigation-area" id="index-nav">
		<div class="navigation-content">
			<div class="navigation-layer">
				<div class="navigation-numbers"></div>
				<div class="navigation-list">
					<a href="/" class="navigation-items active ajaxtrigger"><span>Home</span></a>
					<a href="/company/" class="navigation-items ajaxtrigger"><span>Company</span></a>
					<a href="/products/" class="navigation-items ajaxtrigger"><span>Products</span></a>
					<a href="/logistics/" class="navigation-items ajaxtrigger"><span>Logistics</span></a>
					<a href="/media-center/" class="navigation-items ajaxtrigger"><span>Media center</span></a>
					<a href="/contacts/" class="navigation-items ajaxtrigger"><span>Contact us</span></a>
				</div>
			</div>
		</div>
	</nav>
	<div class="page-navigation">
		<div class="page-navigation_container">
			<div class="pager">
				<a id="pager-top" href="/" class="pager__item pager__item-top ajaxtrigger inactive">
					<div>
						<svg viewBox="0 0 503 503" xmlns="http://www.w3.org/2000/svg"><path id="svg_1" d="m258.7,198.5l-104.6,107.8c-3.8,3.9 -10.1,4 -14,0.2l0,0c-3.9,-3.8 -4,-10.1 -0.2,-14l104.5,-107.8c3.8,-3.9 10.1,-4 14,-0.2l0,0c4,3.8 4.1,10.1 0.3,14z"/><path id="svg_2" d="m244.8,198.5l104.5,107.8c3.8,3.9 10.1,4 14,0.2l0,0c3.9,-3.8 4,-10.1 0.2,-14l-104.6,-107.7c-3.8,-3.9 -10.1,-4 -14,-0.2l0,0c-3.8,3.7 -3.9,10 -0.1,13.9z"/><ellipse id="svg_3" ry="238.6" rx="238.1" cy="251.9" cx="251.6" stroke-miterlimit="20" stroke-width="20" fill="none"/></svg>
					</div>
				</a>
				<a id="pager-bottom" href="/company/" class="pager__item pager__item-bottom ajaxtrigger">
					<div>
						<svg viewBox="0 0 503 503" xmlns="http://www.w3.org/2000/svg"><path d="m244.8,302.5l104.5,-107.8c3.8,-3.9 10.1,-4 14,-0.2l0,0c3.9,3.8 4,10.1 0.2,14l-104.6,107.8c-3.8,3.9 -10.1,4 -14,0.2l0,0c-3.8,-3.8 -3.9,-10.1 -0.1,-14z"/><path d="m258.7,302.5l-104.6,-107.7c-3.8,-3.9 -10.1,-4 -14,-0.2l0,0c-3.9,3.8 -4,10.1 -0.2,14l104.5,107.8c3.8,3.9 10.1,4 14,0.2l0,0c4,-3.9 4.1,-10.2 0.3,-14.1z"/><ellipse ry="238.6" rx="238.1" cy="251.9" cx="251.6" stroke-miterlimit="20" stroke-width="20" fill="none"/></svg>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="loader">
	<span></span>
	<span></span>
	<span></span>
</div>
</body>
</html>