<!doctype html>
<html>
<head>
	<title>Products</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="../css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="../js/common.js"></script>
</head>
<body>
<div class="viewport">
	<header class="header">
		<a href="" class="logo"></a>
		<div class="language">
			<a href="" class="language-item active">En</a>
			<span>—</span>
			<a href="" class="language-item">Fr</a>
		</div>
	</header>
	<div class="pjax">
		<div class="pjax-container" id="container">
			<div class="container container-products">
				<div class="products-columns products-left">
					<div class="content">
						<div class="title">products</div>
					</div>
					<div class="punchline">
						<div class="punchline-single">
							<div class="products__body">
								<p><strong>We use market knowledge, logistics and global re&shy;sources to move physical commodities where they’re needed when they’re needed.</strong> We develop markets, invest in infrastructure, build bridges and cement alliances to reduce the cost of <i>trading</i> and increase service levels. As one of the world's largest independent commodity trading houses Solcata is at the forefront of our industry. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="products-columns products-right">
					<div class="image-cover">
						<img src="../img/products/p-1.jpg" alt="">
					</div>
					<div class="products-navi">
						<a href="/products/oil-petroleum/" class="progucts-navi_item ajaxtrigger">oil & petroleum</a>
						<a href="/products/iron-ore/" class="progucts-navi_item ajaxtrigger">Iron ore</a>
						<a href="/products/sugar/" class="progucts-navi_item ajaxtrigger">Sugar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="developers">
			<div class="developers-inner">
				<a href="">Made in <span>Flexmedia</span></a>
			</div>
		</div>
		<div class="requisites">
			<div class="requisites-inner">
				<p><strong>Solcata SA</strong></p>
				<p>Rue Agasse 54, 1208 Geneva, Switzerland</p>
				<p>+41 76 5838056, <a href="mailto:info@solcata.com">info@solcata.com</a></p>
			</div>
		</div>
	</footer>
	<div class="navigation">
		<div class="navigation__trigger">
			<span></span>
		</div>
	</div>
	<nav class="navigation-area">
		<div class="navigation-content">
			<div class="navigation-layer">
				<div class="navigation-numbers"></div>
				<div class="navigation-list">
					<a href="/" class="navigation-items ajaxtrigger"><span>Home</span></a>
					<a href="/company/" class="navigation-items ajaxtrigger"><span>Company</span></a>
					<a href="/products/" class="navigation-items active ajaxtrigger"><span>Products</span></a>
					<a href="#" class="navigation-items ajaxtrigger"><span>Logistics</span></a>
					<a href="#" class="navigation-items ajaxtrigger"><span>Media center</span></a>
					<a href="#" class="navigation-items ajaxtrigger"><span>Contact us</span></a>
				</div>
			</div>
		</div>
	</nav>
	<div class="page-navigation">
		<div class="page-navigation_container">
			<div class="pager">
				<a id="pager-top" href="/company/" class="pager__item pager__item-top ajaxtrigger"></a>
				<a id="pager-bottom" href="/" class="pager__item pager__item-bottom ajaxtrigger inactive"></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>